<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>A Visual Packing List for Kids</p><br>
    <form>
      Who's going?:<br>
      <input id="kidsName" type="text" placeholder="Kid's Name" required>
      <br><br>
      <button>Submit</button>
    </form>
    <script src="localstoragescript.js"></script>
  </body>
</html>
