.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.unordered-list-2 {
  display: block;
  overflow: visible;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.list-item-3 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.container-2 {
  display: inline;
  margin-top: 10px;
  padding-right: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-align: center;
}

.link-4 {
  display: inline-block;
  margin-right: auto;
  margin-left: 35px;
  padding-right: 55px;
  padding-left: 55px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.link-5 {
  display: inline-block;
  margin: 16px 35px 16px auto;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 55px;
  float: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: center;
}

.link-6 {
  display: inline-block;
  margin: 30px auto 25px;
  padding-right: 55px;
  padding-left: 55px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 191px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-block {
  display: block;
}

.column-4 {
  height: 50%;
}

.section-2 {
  height: 100px;
}

.image-2 {
  min-height: 450px;
}

.div-block-2 {
  min-height: 200px;
}

.link-11 {
  display: block;
}

.link-12 {
  display: block;
}

.link-13 {
  display: block;
}

.column-5 {
  display: inline;
}

.link-14 {
  display: block;
}

.column-6 {
  height: 50px;
  border-right: 2px solid #000;
}

.row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.unordered-list-3 {
  display: inline;
  overflow: visible;
  float: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  list-style-type: none;
}

.list-item-4 {
  display: inline;
  width: 50px;
  min-height: 80px;
  min-width: 80px;
  list-style-type: none;
}

.list-item-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-5 {
  display: block;
}

.section-3 {
  height: 50px;
  margin-right: auto;
  margin-bottom: 6px;
  margin-left: auto;
  border: 2px solid #000;
}

.row-3 {
  display: inline;
}

.list-item-6 {
  min-width: 80px;
}

.list-item-7 {
  min-width: 80px;
}

.list-item-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.unordered-list-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.list-item-9 {
  display: inline-block;
  width: 75px;
  height: 75px;
}

.list-item-10 {
  display: block;
  width: 210px;
  height: 200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 2px solid #000;
  list-style-type: none;
}

.list-item-11 {
  display: block;
  overflow: visible;
  width: 210px;
  height: 200px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  border: 2px solid #000;
  list-style-type: none;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.list-item-12 {
  display: block;
  width: 210px;
  height: 200px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border: 2px solid #000;
  list-style-type: none;
}

.list-item-14 {
  display: block;
  width: 210px;
  height: 200px;
  border: 2px solid #000;
  list-style-type: none;
}

.list-item-15 {
  display: block;
  width: 213px;
  height: 200px;
  border: 2px solid #000;
  list-style-type: none;
}

.list-item-16 {
  display: block;
  width: 210px;
  height: 200px;
  border: 2px solid #000;
  list-style-type: none;
}

.list-item-17 {
  display: block;
  width: 210px;
  height: 200px;
  border: 2px solid #000;
  list-style-type: none;
}

.list-item-18 {
  display: block;
  width: 210px;
  height: 200px;
  border: 2px solid #000;
  list-style-type: none;
}

.unordered-list-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item-19 {
  width: 210px;
  height: 175px;
  border: 2px solid #000;
}

.list-item-20 {
  width: 210px;
  height: 175px;
  border: 2px solid #000;
}

.list-item-21 {
  width: 210px;
  height: 175px;
  border: 2px solid #000;
}

.list-item-22 {
  width: 210px;
  height: 175px;
  border: 2px solid #000;
}

.list-item-23 {
  width: 210px;
  height: 175px;
  border: 2px solid #000;
}

.list-item-24 {
  width: 210px;
  height: 175px;
  border: 2px solid #000;
}

.list-item-25 {
  width: 420px;
  height: 175px;
  border: 2px solid #000;
}

.unordered-list-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item-26 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-27 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-28 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-29 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-30 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-31 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.unordered-list-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border: 2px solid #000;
  list-style-type: none;
}

.list-item-32 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-33 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-34 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-35 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 210px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 2px solid #000;
}

.list-item-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-37 {
  width: 560px;
  height: 210px;
  border: 2px solid #000;
}

.unordered-list-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item-38 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-39 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-40 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-41 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.unordered-list-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item-42 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-43 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-44 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-45 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-46 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-47 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-48 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-49 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-50 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-51 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-52 {
  width: 420px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-53 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
  list-style-type: none;
}

.unordered-list-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item-54 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-55 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-56 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-57 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.unordered-list-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item-59 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-60 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-61 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-62 {
  width: 210px;
  height: 210px;
  border: 2px solid #000;
}

.unordered-list-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item-64 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-65 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-66 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-67 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-68 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-69 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-70 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-71 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-72 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.unordered-list-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item-73 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-74 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-75 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-76 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-77 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-78 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-79 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-80 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.list-item-81 {
  width: 280px;
  height: 210px;
  border: 2px solid #000;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  border: 2px solid #000;
}

.facebook {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 2px solid #000;
}

.google {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 2px solid #e21c1c;
}

.twitter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 2px solid #000;
}

.twitter-2 {
  display: block;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 2px solid #000;
}

.twitter-3 {
  position: static;
  overflow: visible;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 2px solid #000;
}

.body {
  border: 2px none #000;
}

.google-2 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 2px solid #000;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-7 {
  position: static;
  height: 50px;
  border-left: 2px solid #000;
}

.column-8 {
  height: 50px;
}

.brand {
  position: static;
}

@media (max-width: 991px) {
  .container-3 {
    min-height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .image-2 {
    min-height: 450px;
  }
  .div-block-2 {
    min-height: 125px;
  }
  .nav-link {
    display: inline-block;
  }
  .unordered-list-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .list-item-18 {
    width: 420px;
  }
  .unordered-list-6 {
    padding-left: 40px;
  }
  .unordered-list-7 {
    padding-left: 40px;
    float: left;
  }
  .list-item-32 {
    width: 315px;
  }
  .list-item-33 {
    width: 315px;
  }
  .list-item-34 {
    width: 315px;
  }
  .list-item-35 {
    width: 315px;
  }
  .list-item-36 {
    width: 315px;
  }
  .list-item-37 {
    width: 630px;
  }
  .list-item-38 {
    width: 315px;
  }
  .list-item-39 {
    width: 315px;
  }
  .list-item-40 {
    width: 315px;
  }
  .list-item-41 {
    width: 315px;
  }
  .list-item-53 {
    width: 210px;
  }
  .list-item-54 {
    width: 210px;
  }
  .list-item-55 {
    width: 210px;
  }
  .list-item-56 {
    width: 210px;
  }
  .list-item-57 {
    width: 210px;
  }
  .list-item-58 {
    width: 210px;
    height: 210px;
    border: 2px solid #000;
  }
  .list-item-63 {
    width: 420px;
    height: 210px;
    border: 2px solid #000;
  }
  .list-item-64 {
    width: 210px;
  }
  .list-item-65 {
    width: 210px;
  }
  .list-item-66 {
    width: 210px;
  }
  .list-item-67 {
    width: 210px;
  }
  .list-item-68 {
    width: 210px;
  }
  .list-item-69 {
    width: 210px;
  }
  .list-item-70 {
    width: 210px;
  }
  .list-item-71 {
    width: 210px;
  }
  .list-item-72 {
    width: 210px;
  }
  .list-item-73 {
    width: 210px;
  }
  .list-item-74 {
    width: 210px;
  }
  .list-item-75 {
    width: 210px;
  }
  .list-item-76 {
    width: 210px;
  }
  .list-item-77 {
    width: 210px;
  }
  .list-item-78 {
    width: 210px;
  }
  .list-item-79 {
    width: 210px;
  }
  .list-item-80 {
    width: 210px;
  }
  .list-item-81 {
    width: 210px;
  }
}

@media (max-width: 767px) {
  .image-2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .column-6 {
    display: block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .row-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  .section-3 {
    display: block;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .link-16 {
    display: block;
  }
  .link-17 {
    display: block;
  }
  .link-18 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .unordered-list-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .list-item-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 175px;
    height: 145px;
    border: 2px solid #000;
  }
  .list-item-11 {
    width: 175px;
    height: 145px;
    border: 2px solid #000;
  }
  .list-item-12 {
    width: 175px;
    height: 145px;
    border: 2px solid #000;
  }
  .list-item-14 {
    width: 175px;
    height: 145px;
    border: 2px solid #000;
  }
  .list-item-15 {
    width: 175px;
    height: 145px;
    border: 2px solid #000;
  }
  .list-item-16 {
    width: 175px;
    height: 145px;
    border: 2px solid #000;
  }
  .list-item-17 {
    width: 175px;
    height: 145px;
    border: 2px solid #000;
  }
  .list-item-18 {
    width: 350px;
    height: 145px;
  }
  .unordered-list-5 {
    padding-left: 20px;
  }
  .list-item-19 {
    width: 260px;
  }
  .list-item-20 {
    width: 260px;
  }
  .list-item-21 {
    width: 260px;
  }
  .list-item-22 {
    width: 260px;
  }
  .list-item-23 {
    width: 260px;
  }
  .list-item-24 {
    width: 260px;
  }
  .list-item-25 {
    width: 520px;
  }
  .unordered-list-6 {
    padding-left: 20px;
  }
  .list-item-26 {
    width: 260px;
  }
  .list-item-27 {
    width: 260px;
  }
  .list-item-28 {
    width: 260px;
  }
  .list-item-29 {
    width: 260px;
  }
  .list-item-30 {
    width: 260px;
  }
  .list-item-31 {
    width: 260px;
  }
  .unordered-list-7 {
    padding-left: 20px;
  }
  .list-item-32 {
    width: 260px;
  }
  .list-item-33 {
    width: 260px;
  }
  .list-item-34 {
    width: 260px;
    height: 210px;
  }
  .list-item-35 {
    width: 260px;
  }
  .list-item-36 {
    width: 260px;
  }
  .list-item-37 {
    width: 520px;
  }
  .unordered-list-8 {
    padding-left: 20px;
  }
  .list-item-38 {
    width: 260px;
  }
  .list-item-39 {
    width: 260px;
  }
  .list-item-40 {
    width: 260px;
  }
  .list-item-41 {
    width: 260px;
  }
  .unordered-list-9 {
    padding-left: 20px;
  }
  .list-item-42 {
    width: 260px;
  }
  .list-item-43 {
    width: 260px;
  }
  .list-item-44 {
    width: 260px;
  }
  .list-item-45 {
    width: 260px;
  }
  .list-item-46 {
    width: 260px;
  }
  .list-item-47 {
    width: 260px;
  }
  .list-item-48 {
    width: 260px;
  }
  .list-item-49 {
    width: 260px;
  }
  .list-item-50 {
    width: 260px;
  }
  .list-item-51 {
    width: 260px;
  }
  .list-item-52 {
    width: 520px;
  }
  .list-item-53 {
    width: 260px;
  }
  .unordered-list-10 {
    padding-left: 20px;
  }
  .list-item-54 {
    width: 260px;
  }
  .list-item-55 {
    width: 260px;
  }
  .list-item-56 {
    width: 260px;
  }
  .list-item-57 {
    width: 260px;
  }
  .list-item-58 {
    width: 260px;
  }
  .unordered-list-11 {
    padding-left: 20px;
  }
  .list-item-59 {
    width: 260px;
  }
  .list-item-60 {
    width: 260px;
  }
  .list-item-61 {
    width: 260px;
  }
  .list-item-62 {
    width: 260px;
  }
  .list-item-63 {
    width: 520px;
  }
  .unordered-list-12 {
    padding-left: 20px;
  }
  .list-item-64 {
    width: 260px;
  }
  .list-item-65 {
    width: 260px;
  }
  .list-item-66 {
    width: 260px;
  }
  .list-item-67 {
    width: 260px;
  }
  .list-item-68 {
    width: 260px;
  }
  .list-item-69 {
    width: 260px;
  }
  .list-item-70 {
    width: 260px;
  }
  .list-item-71 {
    width: 260px;
  }
  .list-item-72 {
    width: 520px;
  }
  .unordered-list-13 {
    padding-left: 20px;
  }
  .list-item-73 {
    width: 260px;
  }
  .list-item-74 {
    width: 260px;
  }
  .list-item-75 {
    width: 260px;
  }
  .list-item-76 {
    width: 260px;
  }
  .list-item-77 {
    width: 260px;
  }
  .list-item-78 {
    width: 260px;
  }
  .list-item-79 {
    width: 260px;
  }
  .list-item-80 {
    width: 260px;
  }
  .list-item-81 {
    width: 520px;
  }
}

@media (max-width: 479px) {
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: none;
    clear: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .link-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image {
    position: static;
    display: block;
    float: none;
    text-align: center;
  }
  .unordered-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .list-item {
    margin-bottom: 10px;
  }
  .list-item-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .heading {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .column-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
  }
  .form-block {
    display: block;
    margin-top: 0px;
    margin-right: -2px;
    padding-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .column-4 {
    position: static;
    display: block;
    overflow: visible;
  }
  .container-3 {
    min-height: 0px;
  }
  .image-2 {
    min-height: 300px;
    margin: 13px auto 11px;
  }
  .container-4 {
    position: static;
    display: inline-block;
    clear: none;
    text-align: center;
  }
  .div-block-3 {
    display: block;
  }
  .link-7 {
    display: inline;
    margin-right: 0px;
    margin-left: 5px;
    text-align: center;
  }
  .link-8 {
    display: inline;
    text-align: center;
  }
  .link-9 {
    display: inline;
    margin-right: 5px;
    margin-left: 0px;
    text-align: center;
  }
  .link-10 {
    display: inline;
    margin-left: 5px;
    text-align: right;
  }
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-5 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .column-6 {
    height: 70px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .row-2 {
    height: 70px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .unordered-list-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    text-align: center;
    list-style-type: none;
  }
  .link-15 {
    display: inline-block;
  }
  .section-3 {
    height: 70px;
  }
  .unordered-list-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border: 1px solid #e21c1c;
    list-style-type: none;
  }
  .list-item-9 {
    display: block;
    width: 80px;
    height: 80%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .list-item-10 {
    width: 145px;
    height: 145px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border: 2px solid #000;
  }
  .list-item-11 {
    overflow: visible;
    width: 145px;
    height: 145px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    border: 2px solid #000;
  }
  .container-6 {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
  }
  .list-item-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 145px;
    height: 145px;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border: 2px solid #000;
  }
  .list-item-13 {
    border: 2px solid #000;
  }
  .list-item-14 {
    width: 145px;
    height: 145px;
    border: 2px dashed #000;
  }
  .list-item-15 {
    display: block;
    width: 145px;
    height: 145px;
    border: 2px solid #000;
  }
  .list-item-16 {
    width: 145px;
    height: 145px;
    border: 2px solid #000;
  }
  .list-item-17 {
    width: 145px;
    height: 145px;
    border: 2px solid #000;
  }
  .list-item-18 {
    width: 145px;
  }
  .unordered-list-5 {
    padding-left: 20px;
  }
  .list-item-19 {
    width: 145px;
    height: 145px;
  }
  .list-item-20 {
    width: 145px;
    height: 145px;
  }
  .list-item-21 {
    width: 145px;
    height: 145px;
  }
  .list-item-22 {
    width: 145px;
    height: 145px;
  }
  .list-item-23 {
    width: 145px;
    height: 147px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .list-item-24 {
    width: 145px;
    height: 147px;
  }
  .list-item-25 {
    width: 290px;
    height: 145px;
  }
  .list-item-26 {
    width: 145px;
    height: 145px;
  }
  .list-item-27 {
    width: 145px;
    height: 145px;
  }
  .list-item-28 {
    width: 145px;
    height: 145px;
  }
  .list-item-29 {
    width: 145px;
    height: 145px;
  }
  .list-item-30 {
    width: 145px;
    height: 145px;
  }
  .list-item-31 {
    width: 145px;
    height: 145px;
  }
  .unordered-list-7 {
    float: none;
  }
  .list-item-32 {
    width: 145px;
    height: 145px;
  }
  .list-item-33 {
    width: 145px;
    height: 145px;
  }
  .list-item-34 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 145px;
    height: 145px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .list-item-35 {
    width: 145px;
    height: 145px;
  }
  .list-item-36 {
    width: 145px;
    height: 145px;
  }
  .list-item-37 {
    width: 290px;
    height: 145px;
    border: 2px solid #000;
  }
  .list-item-38 {
    width: 145px;
    height: 145px;
  }
  .list-item-39 {
    width: 145px;
    height: 145px;
  }
  .list-item-40 {
    width: 145px;
    height: 145px;
  }
  .list-item-41 {
    width: 145px;
    height: 145px;
  }
  .list-item-42 {
    width: 145px;
    height: 145px;
  }
  .list-item-43 {
    width: 145px;
    height: 145px;
  }
  .list-item-44 {
    width: 145px;
    height: 145px;
  }
  .list-item-45 {
    width: 145px;
    height: 145px;
  }
  .list-item-46 {
    width: 145px;
    height: 145px;
  }
  .list-item-47 {
    width: 145px;
    height: 145px;
  }
  .list-item-48 {
    width: 145px;
    height: 145px;
  }
  .list-item-49 {
    width: 145px;
    height: 145px;
  }
  .list-item-50 {
    width: 145px;
    height: 145px;
  }
  .list-item-51 {
    width: 145px;
    height: 145px;
  }
  .list-item-52 {
    width: 290px;
  }
  .list-item-53 {
    width: 145px;
    height: 145px;
  }
  .unordered-list-10 {
    padding-left: 20px;
  }
  .list-item-54 {
    width: 145px;
    height: 145px;
  }
  .list-item-55 {
    width: 145px;
    height: 145px;
  }
  .list-item-56 {
    width: 145px;
    height: 145px;
  }
  .list-item-57 {
    width: 145px;
    height: 145px;
  }
  .list-item-58 {
    width: 145px;
    height: 145px;
  }
  .list-item-59 {
    width: 145px;
    height: 145px;
  }
  .list-item-60 {
    width: 145px;
    height: 145px;
  }
  .list-item-61 {
    width: 145px;
    height: 145px;
  }
  .list-item-62 {
    width: 145px;
    height: 145px;
  }
  .list-item-63 {
    width: 290px;
    height: 145px;
  }
  .heading-2 {
    font-size: 34px;
  }
  .list-item-64 {
    width: 145px;
    height: 145px;
  }
  .list-item-65 {
    width: 145px;
    height: 145px;
  }
  .list-item-66 {
    width: 145px;
    height: 145px;
  }
  .list-item-67 {
    width: 145px;
    height: 145px;
  }
  .list-item-68 {
    width: 145px;
    height: 145px;
  }
  .list-item-69 {
    width: 145px;
    height: 145px;
  }
  .list-item-70 {
    width: 145px;
    height: 145px;
  }
  .list-item-71 {
    width: 145px;
    height: 145px;
  }
  .list-item-72 {
    width: 290px;
    height: 145px;
  }
  .list-item-73 {
    width: 145px;
    height: 145px;
  }
  .list-item-74 {
    width: 145px;
    height: 145px;
  }
  .list-item-75 {
    width: 145px;
    height: 145px;
  }
  .list-item-76 {
    width: 145px;
    height: 145px;
  }
  .list-item-77 {
    width: 145px;
    height: 145px;
  }
  .list-item-78 {
    width: 145px;
    height: 145px;
  }
  .list-item-79 {
    width: 145px;
    height: 145px;
  }
  .list-item-80 {
    width: 145px;
    height: 145px;
  }
  .list-item-81 {
    width: 290px;
    height: 145px;
  }
  .facebook {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .twitter-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .column-7 {
    height: 70px;
  }
  .column-8 {
    position: static;
    height: 70px;
  }
}
